<!DOCTYPE html>
<html>

<head>
  <title>Flask-Ajax</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icon.min.css')}}">
  <script src="{{url_for('static', filename='semantic.min.js')}}"></script>
</head>

<body>
  <div class="ui container">
  <div class="messagebox">
  </div>

  <form class="ui form" action="{{ url_for('get') }}" method="post" role="form" id="findform">
    <button class="ui button" id="add_field_button">Add More Fields</button>
    <div class="field input_fields_wrap">

      <div class="ui action input">
        <input type="text" name="urlinput"/>
        <button class="ui icon button remove_field">
          <i class="remove icon"></i>
        </button>
      </div>
    </div>
    <button class="ui button" type="submit" id="findbutton">Find Feeds</button>
  </form>

  <form class="ui form" action="{{ url_for('save') }}", method="post" role="form" id="saveform">
    <div class="list" id="results_wrapper">
    </div>
    <button class="ui button" type="submit" id="savebutton">Subscribe Feeds</button>
  </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-3.1.0.min.js') }}">\x3C/script>')</script>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>


