<!DOCTYPE html>
<html>

<head>
  <title>Flask-Ajax</title>

  <script src="static/jquery-2.2.3.min.js"></script>
</head>

<body>
  <div class="messagebox">
  </div>

  <form action="/get" method="post" role="form" class="getform">
    <div class="input_fields_wrap">
      <button class="add_field_button">Add More Fields</button>
      <div><input type="text" name="urlinput"/><a href="#" class="remove_field">Remove</a></div>
    </div>
    <button id="getbutton">Get Feeds</button>
  </form>

  <form action='/save', method="post" role="form" class="saveform">
    <div class="results_wrapper">
    </div>
    <button id="savebutton">Save Feeds</button>
  </form>
</body>

</html>

<script type="text/javascript">
$(document).ready(function() {
  var max_fields = 10;
  var wrapper = $(".input_fields_wrap");
  var add_button = $(".add_field_button");
  var results_wrapper = $(".results_wrapper");

  var x = 1;
  $(add_button).click(function(e) {
    e.preventDefault();
    if(x < max_fields){
      x++;
      $(wrapper).append('<div><input type="text" name="urlinput"/><a href="#" class="remove_field">Remove</a></div>');
    }
  });

  $(wrapper).on("click", ".remove_field", function(e) {
    e.preventDefault();
    $(this).parent('div').remove();
    x--;
  });

  $('#getbutton').click(function(e) {
    e.preventDefault();
    console.log('Get button clicked');
    console.log('URLs: ' + $('.getform').serialize());
    $.ajax({
      url: '/get',
      data: $('.getform').serialize(),
      type: 'POST',
      success: function (response) {
        $(results_wrapper).empty();
        for (var i = 0; i < response.result.length; i++){
          $(results_wrapper).append('<input type="checkbox" class="feedinput"><label>'+response.result[i]+'</label><br>');
        }
      },
      error: function(error){
        console.log(error);
      }
    });
  });

  $('#savebutton').click(function(e) {
    e.preventDefault();
    var feeds = $('.feedinput').map(function () {
      if($(this).is(':checked')){
        return $(this).next('label').text();
      }
    }).get();
    console.log('Save button clicked');
    console.log('Feeds: ' + feeds);
    var toSend = JSON.stringify(feeds);
    console.log(toSend);
    $.ajax({
      url: '/save',
      data: toSend,
      type: 'POST',
      dataType: "json",
      contentType: "application/json;charset=utf-8",
      success: function (response) {
        console.log(response.message);
        $('.messagebox').empty();
        $('.messagebox').append('<p>'+response.message+'</p>');
      },
      error: function (error) {
        console.log(error);
      }
    });
  });
});
</script>
